.checkbox {
  padding: 1rem 1rem 1rem 2.5rem;
  position: relative;

  input {
    .center--vertically;
    left: 0;
    position: absolute;
  }

  &--label {
    cursor: pointer;
  }

  &--disbled {
    opacity: 0.5;
  }
}
